<div class="col-md-4">
    <form action="/tasks/<%= @task.id %>" method="POST">
        <%= hidden_field_tag :_method, 'patch' %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <h1>New Task</h1>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="task[description]" class="form-control" value="<%= @task.description %>" required>
        </div>
        <div class="row d-flex justify-content-between w-100">
            <a href="<%= tasks_path %>" class="btn btn-secondary btn-sm">Back</a>
            <button class="btn btn-primary btn-sm">Update</button>
        </div>
    </form>
</div>


