<div class="col-md-6">
    <h1>Tasks</h1>
    <a href="<%= new_task_path  %>" class="btn btn-primary mb-2">New</a>

    <ul class="list-group">
        <% @tasks.each do |task| %>
            <li class="list-group-item  d-flex justify-content-between align-items-center">
                <% if task.status %>
                    <del><%= task.description %></del>
                <% else %>
                    <div class="row d-flex justify-content-between w-75">
                        <span class="h6 ml-3"><%= task.description %></span>
                        <span><%= time_ago_in_words(task.created_at) %> ago</span>
                    </div>
                <% end %>
                
                <span>
                    <% if !task.status %>
                        <%= link_to "Complete", complete_task_path(task), method: :put %>
                    <% end %>
                    <%= link_to 'Edit', edit_task_path(task) %>
                    <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %>
                </span>
            </li>
        <% end %>
    </ul>
    <br>
    <%== pagy_bootstrap_nav(@pagy)%>        
</div>
