<div class="col-md-4">
    <form action="<%= tasks_path %>" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <h1>New Task</h1>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" name="task[description]" class="form-control" required autofocus>
        </div>
        <div class="row d-flex justify-content-between">
            <a href="<%= tasks_path %>" class="btn btn-secondary">Back</a>
            <button class="btn btn-primary">Create</button>
        </div>
    </form>
</div>


