<div class="row d-flex justify-content-center mt-5">
    <div class="col-md-4">
        <p id="error"><%= flash[:error] %></p>
        <p id="notice"><%= flash[:notice] %></p>
        <form class="form-signin" action="/user" method="POST">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <h1 class="h3 mb-3 font-weight-normal">Signup</h1>
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Name" required autofocus>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email address</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address" required>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="password_confirmation" class="sr-only">Password Confirmation</label>
                <input type="password" name="password_confirmation" id="password_confirmation"
                class="form-control" placeholder="Password Confirmation" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">Already have an account? <a href="/">Sign In.</a></p>
        </form>
    </div>
</div>