<div class="col-md-6 mt-5">
    <%= form_with model: @book do |form| %>
        <div class="form-group mb-2">
            <% if @book.image.attached? %>
              <%= image_tag @book.image, :class => 'img w-50' %>
            <% end %>
            <%= form.label :image %><br>
            <%= form.file_field :image %>
        </div>
        <div class="form-group mb-2">
            <%= form.label :user_id %>
            <%= form.text_field :user_id, :class => 'form-control' %>
        </div>
        <div class="form-group mb-2">
            <%= form.label :title %>
            <%= form.text_field :title, :class => 'form-control' %>
        </div>
        <%= form.submit :class => 'btn btn-primary' %>
    </div>
<% end %>