<div class="col-md-6 mt-5">
    <%= form_with model: @user do |form| %>
        <div class="form-group mb-2">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, :class => 'avatar' %>
            <% end %>
            <%= form.label :image %><br>
            <%= form.file_field :image %>
        </div>
        <div class="form-group mb-2">
            <%= form.label :name %>
            <%= form.text_field :name, :class => 'form-control' %>
        </div>
        <div class="form-group mb-2">
            <%= form.label :email %>
            <%= form.text_field :email, :class => 'form-control' %>
        </div>
        <%= form.submit :class => 'btn btn-primary' %>
    </div>
<% end %>