<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Todo</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="<%= edit_user_path(@user) %>">Profile</a>
            </li>
        </ul>
    </div>
    <form class="form-inline" action="<%= signout_path %>" method="DELETE">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="form-control mr-sm-2" type="submit" value="Sign Out" aria-label="Sign Out">
    </form>
</nav>